# Variables para la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=Usuario
DB_PASSWORD=Contraseña
DB_NAME=nombre-db

# Variables de tamaño de imágenes
IMAGE_LARGE_WIDTH=1024
IMAGE_MEDIUM_WIDTH=512
IMAGE_SMALL_WIDTH=256

# Token para JWT
JWT_SECRET_KEY=miClaveSuperSecreta123

# Datos para conectar el módulo de notificaciones a un SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=Usuario
SMTP_PASS=Contraseña
SMTP_SECURE=false

# Configuración del estado de la aplicación
NODE_ENV=development

# Nombre de la App
APP_NAME="Nombre de la App"